Checks:
 -*,
 bugprone-*,
 performance-*,
 portability-*,
 google-*,
 concurrency-*,
 llvm-*,
 modernize-*,
 clang-analyzer-*,
 clang-diagnostics-*,
 misc-*,
 readability-*,
 cppcoreguidelines-*,
 -modernize-use-trailing-return-type,
 -llvm-header-guard,
 -llvm-prefer-static-over-anonymous-namespace,
 -cppcoreguidelines-avoid-non-const-global-variables,
 -portability-avoid-pragma-once

FormatStyle: 'file'
