Checks: 
 -*,
 bugprone-*,
 performance-*,
 portability-*,
 google-*,
 concurrency-*,
 llvm-*,
 modernize-*,
 clang-analyzer-*,
 clang-diagnostics-*,
 misc-*,
 -modernize-use-trailing-return-type,
 -llvm-header-guard

FormatStyle: 'file'